.custom-tabs-container {
    width: 100%;
    background-color: #012169;
    color: #012169;
}
.custom-tabs {
    background-color: white !important;
}

.custom-tab {
    color:#d9d9d6 !important;
    border-radius: 10px;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    background-color: #012169 !important;
    padding: 12px !important;
    font-family: "system-ui";
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 150px !important;
    height: 25px !important;
    margin-bottom: 5px !important;
}

.custom-tab--selected {
    color: #d9d9d6 !important;
    font-weight: bold;
    text-decoration: underline;
    border-radius: 10px;
    background-color: #012169 !important;
    width: 150px !important;
    height: 25px !important;
    margin-bottom: 5px !important;
}

.custom-subtab {
    color: black;
    background-color: white !important;
    width: 150px !important;
    height: 25px !important;
    display: flex !important;
    justify-content: center; 
    align-items: center;
    border: white !important;
}

.custom-subtab--selected {
    color: black;
    font-weight: bold;
    background-color: white !important;
    width: 150px !important;
    height: 25px !important;
    border-top: white !important;
    display: flex !important;
    justify-content: center; 
    align-items: center;
    border: white !important;
}